.header{
    width: 100%;
    background-color: #263a4e;
}
.icon{
    height: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.iconText{
    color: white;
    font-size: 32px;
    margin-bottom: 0px;
}
