.homeBackground{
    height: 100vh;
    background-image: url('/assets/images/header-bg.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 800px;
    position: relative;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #263a4e7a;
    top: 0px;
    left: 0px;
}
.textSimple{
    color: #559500;
    font-size: 18px;
}
.textCenter{
    text-align: center;
}
.bigText{
    color: #263A4E;
    font-size: 35px;
    font-weight: bold;
}
.imageProject{
    width: 100%;
    border-radius: 20px;
}
.projectImageContent{
    padding: 20px 20px 20px 0px;
}
.projectTextContent{
    background-color: white;
    width: 300px;
    color: #A8AAAE;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 14px;
}
.projectTextContent:hover{
    color: #263A4E;
}
.projectTitle{
    color: #263A4E;
}
.backgroundAbout{
    margin-top: 50px;
    background-color: #F7F7F7;
}
.aboutContent{
    padding: 80px 0px;
}
.aboutImage{
    width: 100%;
}
.toCenter{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.simpleText {
    color: #919398;
    padding-right: 50px;
    padding-top: 10px;
}
.lineHeight{
    line-height: 38px;
}
.readMore{
    box-shadow: none !important;
    border-color: #559500;
    color: #263A4E;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 15px;
}
.readMore:hover{
    color: white;
    background-color: #559500;
}
.profileContent{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}
.profileImage{
    width: 120px;
    border-radius: 50%;
    height: 120px;
    border: solid 1px #263A4E;
    background-size: 100% auto;
    background-position: center;
    transition: border ease-out 0.2s;
}
.profileName{
    color: #263A4E;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    transition: color ease-out .2s;
}
.profileText{
    text-align: center;
    height: 70px;
    overflow: hidden;
}
.foundersTitle{
    color: #263A4E;
    text-align: center;
    font-size: 20px;
}