<div class="container-fluid">
    <div class="row">
        <div class="col-12 aboutUsHeder armFont">
            {{ 'about_us.pageTitle' | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-1 leftContent armFont">
            {{ 'about_us.firstTitle' | translate }}
        </div>
        <div class="col-12 col-lg-10">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5 bigText">
                        {{ 'about_us.firstTitle' | translate }}
                    </div>
                    <div class="col-12 offset-lg-1 col-lg-10 mt-lg-5 mb-5 pt-lg-5 pb-lg-5 aboutText">
                        {{ 'about_us.firstText' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-12 secondBackground">
            <div class="row">
                <div class="col-1 leftContent armFont">  {{ 'about_us.secondTitle' | translate }}</div>
                <div class="col-12 col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 bigText">
                                {{ 'about_us.secondTitle' | translate }}
                            </div>
                            <div class="col-12 col-lg-8 textContentBackground">
                                <div class = 'subTitle'>
                                    {{ 'about_us.secondBigTitle' | translate }}
                                </div>
                                {{ 'about_us.secondText' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>